<a href="https://colab.research.google.com/github/minjun0607/Python/blob/main/2_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**1. 자료형과 문자열**

자료 : 프로그램이 처리할 수 있는 모든 것

- 카메라로 사진을 찍으면 사진이 **자료**이고, 이를 카메라에 저장하는 것이 **처리**이다.

이러한 것처럼 우리가 일상에서 만나는 모든 것들은 자료가 될 수 있고, 프로그램은 이러한 자료를 처리하기 위한 모든 행위라고 생각할 수 있다.

### 자료형과 기본 자료형

자료형 : 개발자들이 쉽게 사용할 수 있도록 기능과 역할에 따라 구분한 자료의 종류

기본적인 자료형은 **문자열, 숫자, 불**이 있다.
- 문자열 : 메일 제목, 메시지 내용 등 (예: "안녕하세요", "Hello World")
- 숫자 : 물건의 가격, 학생의 성적 등 (예: 52, 273, 103.32)
- 불 : 친구의 로그인 상태 등 (예: True, False)

**자료형 확인하기**

파이썬에서 자료의 형식을 확인할 때는 type()함수를 사용한다.

함수의 괄호 내부에 자료를 넣으면 그 자료가 어떤 자료형을 가지고 있는지 확인할 수 있다.

In [ ]:
#예제
print(type("안녕하세요"))
print(type(273))

<class 'str'>
<class 'int'>

str은 string을 짧게 표현한 것으로 문자열을 의미한다.

int는 integer을 짧게 표현한 것으로 정수를 의미한다.

### 문자열 만들기

print()함수를 배우면서 출력한 "Hello"같은 글자들이 이처럼 나열된 것을 문자열이라 부른다.

문자열은 영어로 (스트링)string이라고 부른다.

- 큰따옴표로 문자열 만들기

print()함수를 쓰기

In [ ]:
print("안녕하세요")

안녕하세요

- 작은 따옴표로 문자열 만들기

큰따옴표를 작은따옴표로 바꾸기

In [ ]:
print('안녕하세요')

안녕하세요

- 문자열 내부에 따옴표 넣기

In [ ]:
print(""안녕하세요"라고 말했습니다.") #오류발생

In [ ]:
print('"안녕하세요"라고 말했습니다.')  #큰따옴표를 출력하기 위해 작은따옴표 사용

"안녕하세요"라고 말했습니다.

In [ ]:
print("'안녕하세요'라고 말했습니다.")  #작은따옴표를 출려하기 위해 큰따옴표 사용

'안녕하세요'라고 말했습니다.

- 이스케이프 문자를 사용해 문자열 만들기

이스케이프 문자 : 역슬래시(\\)기호와 함께 조합해서 사용하는 특수한 문자를 의미

\\": 큰따옴표를 의미

\\': 작은따옴표를 의미

In [ ]:
print("\"안녕하세요\"라고 말했습니다.")
print('\'배가 고픕니다.\'라고 생각했습니다.')

"안녕하세요"라고 말했습니다.
'배가 고픕니다.'라고 생각했습니다.

\\n: 줄바꿈을 의미

\\t: 탭을 의미

In [ ]:
print("안녕하세요\n안녕하세요")

안녕하세요
안녕하세요

In [ ]:
print("안녕하세요\t안녕하세요")

안녕하세요	안녕하세요

\\\\: 역슬래시(\\)를 의미한한다.

In [ ]:
print("\\ \\ \\ \\")

\ \ \ \

파이썬은 **여러 줄 문자열**이라는 기능을 지원한다.

여러 줄 문자열은 큰따옴표 또는 작은따옴표를 세번 반복한 기호를 사용한다.

In [ ]:
print("""동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산 대한사람
대한으로 길이 보전하세""")

동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산 대한사람
대한으로 길이 보전하세

하지만 이런식으로 의도치 않은 줄바꿈이 들어갈수 있다.

In [ ]:
print("""
동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산 대한사람
대한으로 길이 보전하세
""")

동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산 대한사람
대한으로 길이 보전하세

만약 이런식으로 의도치 않은 줄바꿈이 들어가지 않게 하려면 \\기호를 사용한다.

In [ ]:
print("""\
동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산 대한사람
대한으로 길이 보전하세\
""")

동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산 대한사람
대한으로 길이 보전하세

### 문자열 연산자

*숫자에는 숫자에만 적용할 수 있는 연산자가 있고, 문자에는 문자열에만 적용할 수 있는 연산자가 있다.*

- 문자열 연결 연산자: +

문자열에는 +연산자로 문자열 연결 연산을 적용할 수 있다.

"문자열" + "문자열"

In [ ]:
print("안녕"+"하세요")
print("안녕하세요"+"!")

안녕하세요
안녕하세요!

In [ ]:
print("안녕하세요"+1)

TypeError: ignored

위와 같은 오류가 나오는 이유는 문자열과 숫자를 +연산자를 사용했기 때문이다.

문자열은 무조건 문자열끼리, 숫자는 무조건 숫자끼리 연결해야한다.

In [ ]:
print("안녕하세요"+"1")

안녕하세요1

- 문자열 반복 연산자: *

In [ ]:
#문자열*숫자
print("안녕하세요"*3)
#숫자*문자열
print(3*"안녕하세요")

안녕하세요안녕하세요안녕하세요
안녕하세요안녕하세요안녕하세요

- 문자열 선택 연산자(인덱싱): [ ]

문자열 선택 연산자는 문자열 내부의 문자 하나를 선택하는 연산자이다.

대괄호[ ]안에 선택할 문자의 위치를 지정하며, 이를 인덱스라고 부른다.

프로그래밍 언어는 인덱스 유형을 크게 두가지로 구분해서 사용한다.
하나는 숫자를 0부터 세는 **제로 인덱스**, 다른 하나는 숫자를 1부터 세는 **원 인덱스**로 구분한다.

파이썬은 '제로 인덱스'를 사용하는 언어이다.

In [ ]:
print("문자 선택 연산자에 대해 알아볼까요?")
print("안녕하세요"[0])
print("안녀하세요"[1])
print("안녕하세요"[2])
print("안녕하세요"[3])
print("안녕하세요"[4])
#코드를 실행하면 0부터 시작하므로 0번째가 '안'이 되고 4번째가 '요'이다.

문자 선택 연산자에 대해 알아볼까요?
안
녀
하
세
요

- 문자열 범위 선택 연산자(슬라이싱): [ : ]

문자열 선택 연산자의 범위를 지정하는 것이다.

In [ ]:
print("안녕하세요"[1:4])

녕하세

프로그래밍 언어에 따라 두가지 유형이 있다. 하나는 범위 지정시 '마지막 숫자를 포함'이 있고, 다른 하나는 '마지막 숫자를 포함하지 않음'이 있다.

파이썬은 '마지막 숫자를 포함하지 않음'으로 적용한다.

In [ ]:
print("안녕하세요"[0:2])   #얀[0], 녕[1], 하[2]
print("안녕하세요"[1:3])   #녕[1], 하[2], 세[3]
print("안녕하세요"[2:4])   #하[2], 세[3], 요[4]

안녕
녕하
하세

또 문자열 범위 선택 연산자에는 대괄호 안에 넣는 숫자 둘중 하나를 생략하여 사용할 수 있다.

예) [1:], [:3]

In [ ]:
print("안녕하세요"[1:])   #[1:]이므로 뒤의 값을 생략 했기 때문에 1번째 부터 끝까지
print("안녕하세요"[:3])   #[:3]이므로 앞의 값을 생략 했기 때문에 0번째 부터 3번째 까지

녕하세요
안녕하

- IndexError(index out of range) 예외

IndexError 예외는 리스트/문자열의 수를 넘는 요소/글자를 선택할 때 발생한다.

In [ ]:
print("안녕하세요"[10])

IndexError: ignored

### 문자열의 길이 구하기

문자열의 길이를 구할 때는 len()함수를 사용한다.

In [ ]:
print(len("안녕하세요"))

5

In [ ]:
print(len("안녕하세요")) 
print(5)

5
5

# **2.숫자**

정수형: 소수점이 없는 숫자

실수형: 소수점이 있는 숫자

부동 소수점: 소수점이 움직이는 숫자자

### 숫자의 종류

In [ ]:
print(273)
print(52.273)

273
52.273

숫자에는 두 가지 종류가 있다. '소숫점이 없는 숫자'와 '소수점이 있는 숫자'

In [ ]:
#소수점이 없는 숫자와 소수점이 있는 숫자를 type()함수로 출력
print(type(52))
print(type(52.273))

<class 'int'>
<class 'float'>

코드를 실행하니 <class 'int'>와 <class 'float'>를 출력한다.

int: 정수

float: 부동소수점(실수)

In [ ]:
print(0)  
print(type(0))    #소수점이 없으므로 정수인 int출력
print(0.0)
print(type(0.0))  #소수점이 있으므로 부동소수점(실수)인 float출력

0
<class 'int'>
0.0
<class 'float'>

### 숫자 연산자

- 사칙 연산자: +, -, *, /

In [ ]:
print("5+7=", 5+7)
print("5-7=", 5-7)
print("5*7=", 5*7)
print("5/7=", 5/7)

5+7= 12
5-7= -2
5*7= 35
5/7= 0.7142857142857143

- 정수 나누기 연산자: //

이것은 숫자를 나누고 소수점 이하의 자릿수를 떼어 버린 후 정수 부분만 남기는 정수 나누기 연산자 이다.

In [ ]:
print("3/2=", 3/2)
print("3//2=", 3//2)

3/2= 1.5
3//2= 1

- 나머지 연산자: %

나머지 연산자는 A를 B로 나누었을 때 남은 나머지를 구하는 연산자이다.

In [ ]:
print("5%2=", 5%2)

5%2= 1

- 제곱 연산자: **

In [ ]:
print("2 ** 1 =", 2 ** 1)
print("2 ** 2 =", 2 ** 2)
print("2 ** 3 =", 2 ** 3)
print("2 ** 4 =", 2 ** 4)

2 ** 1 = 2
2 ** 2 = 4
2 ** 3 = 8
2 ** 4 = 16

### 연산자의 우선순위

In [ ]:
print(2 + 2 - 2 * 2 / 2 * 2)  #곱셈/나눗셈과 덧셈/뺄셈처럼 같은 우선순위를 가지는 연산자는 왼쪽에서 오른쪽 순서로 계산한다.
print(2 - 2 + 2 / 2 * 2 + 2) 
print((5 + 3) * 2)            #괄호 먼저 계산
print(5 + (3 * 2))

0.0
4.0
16
11

# **3. 변수와 입력**

변수: 값을 저장할 때 사용하는 식별자이다.

### 변수 만들기/사용하기

In [ ]:
pi=3.141592  #pi라는 변수 만들기
pi

3.141592

- 변수를 활용하는 방법 세가지

**첫째, 변수를 선언하는 방법**

변수 생성을 의미한다. (pi를 사용하겠다)

**둘째, 변수에 값을 할당하는 방법**

변수에 값을 넣는 것을 의미 (pi에 3.141592의 값을 넣겠다.)

**셋째, 변수를 참조하는 방법**

변수에서 값을 꺼내는 것을 의미 (pi를 입력하면 3.141592라는 값이 보인다.)

In [ ]:
pi = 3.141592
print(pi + 2)
print(pi - 2)
print(pi * 2)
print(pi / 2)
print(pi % 2)
print(pi * pi)

5.141592
1.1415920000000002
6.283184
1.570796
1.1415920000000002
9.869600294464002

In [ ]:
#원의 둘레 구하기
#변수 선언과 할당
pi = 3.14159265
r = 10

#변수 참조
print("원주율 =", pi)
print("반지름 =", r)
print("원의 둘레 = ", 2 * pi * r)
print("원의 넓이 = ", pi * r * r)

원주율 = 3.14159265
반지름 = 10
원의 둘레 =  62.831853
원의 넓이 =  314.159265

### 복합 대입 연산자

- 숫자에 적용 가능한 복합 대입 연산자

+=: 숫자 덧셈 후 대입

-=: 숫자 뻴셈 후 대입

*=: 숫자 곱셈 후 대입

/=: 숫자 나눗셈 후 대입

%=: 숫자의 나머지를 구한 후 대입

**=: 숫자 제곱 후 대입

In [ ]:
number = 100
number += 10
number += 20
number += 30
print("number:", number)

number: 160

- 문자열에 적용 가능한 복합 대입 연산자

+=: 문자열 연결 후 대입

*=: 문자열 반복 후 대입

In [ ]:
string = "안녕하세요"
string += "!"
string += "!"
print("string:", string)

string: 안녕하세요!!

### 사용자 입력: input()

사용자로부터 데이터를 입력받을 때 input()함수를 사용한다.

- input()함수로 사용자 입력 받기

프롬프트 문자열: input 함수 괄호 안에 입력한 내용이고, 사용자에게 입력을 요구하는 안내 내용을 의미한다.

In [ ]:
input("인사말을 입력하세요>")

인사말을 입력하세요>

''

위처럼 프로그램이 실행 도중에 잠시 멈추는 것을 블록 이라고 한다.

In [ ]:
string = input("인사말을 입력하세요>")
print(string)

인사말을 입력하세요>ㅎㅇ
ㅎㅇ

input과 같이 함수의 결과로 나오는 값을 리턴값이라고 한다.

- input() 함수의 입력 자료형

In [ ]:
print(type(string))

<class 'str'>

In [ ]:
number = input("숫자를 입력하세요>")
print(number)
print(type(number))

숫자를 입력하세요>12345
12345
<class 'str'>

In [ ]:
#입력 자료형 확인하기
#입력을 받습니다.
string = input("입력>")

#출력합니다.
print("자료: ", string)
print("자료형: ", type(string))

입력>Ture
자료:  Ture
자료형:  <class 'str'>

In [ ]:
#입력받고 더하기
#입력을 받습니다.
string = input("입력>")

#출력합니다.
print("입력 + 100:", string + 100)

#오류발생
#이유: input()함수로 입력받은 자료는 모두 문자열로 저장되기 때문이다.

입력>1930

TypeError: ignored

### 문자열을 숫자로 바꾸기

문자열을 숫자로 변환하는 것을 *캐스트*라고 부른다.

int()함수: 문자열을 int 자료형으로 변환합니다.

float()함수: 문자열을 float 자료형으로 변환합니다.

In [ ]:
#int()함수 활용하기
string_a = input("입력A>")
int_a = int(string_a)

string_b = input("입력B>")
int_b = int(string_b)

print("문자열 자료:", string_a + string_b)
print("숫자 자료:", int_a + int_b)

입력A>273
입력B>52
문자열 자료: 27352
숫자 자료: 325

In [ ]:
#int()함수와 float()함수 활용하기
output_a = int("52")
output_b = float("52.273")

print(type(output_a), output_a)
print(type(output_b), output_b)

<class 'int'> 52
<class 'float'> 52.273

In [ ]:
#int()와 float()함수 조합하기
input_a = float(input("첫번째 숫자>"))
input_b = float(input("두번째 숫자>"))
print("덧셈 결과:", input_a + input_b)
print("뻴셈 결과:", input_a - input_b)
print("곱셈 결과:", input_a * input_b)
print("나눗셈 결과:", input_a / input_b)

첫번째 숫자>273
두번째 숫자>52
덧셈 결과: 325.0
뻴셈 결과: 221.0
곱셈 결과: 14196.0
나눗셈 결과: 5.25

- ValueError 예외

자료형을 변환할 때 '변환할 수 없는 것'을 변환하려고 하면 ValueError예외가 발생한다. 이러한 예외가 발생하는 경우는 다음 두가지 이다.

**첫째, 숫자가 아닌 것을 숫자로 변환하려고 할 때**

**둘째, 소수점이 있는 숫자 형식의 문자열을 int()함수로 변환하려고 할 때**

### 숫자를 문자열로 바꾸기

str()함수 사용

In [ ]:
#str()함수를 사용해 숫자를 문자열로 변환하기
output_a = str(52)
output_b = str(52.273)
print(type(output_a), output_a)
print(type(output_b), output_b)

<class 'str'> 52
<class 'str'> 52.273

In [ ]:
#inch 단위를 cm 단위로 변경하기
raw_input = input("inch 단위의 숫자를 입력하세요>")
inch = int(raw_input)
cm = inch * 2.54

print(inch, "inch는 cm 단위로", cm, "cm입니다.")

inch 단위의 숫자를 입력하세요>27
27 inch는 cm 단위로 68.58 cm입니다.

#**4. 숫자와 문자열의 다양한 기능**

### 문자열의 format()함수

format()함수는 문자열이 가지고 있는 함수이다. 중괄호{}를 포함한 문자열 뒤애 마침표(.)를 찍고 format()함수를 사용하는데, 중괄호의 개수와 format()함수 괄호 안 매개변수의 개수는 반드시 같아야 한다.

In [ ]:
#format()함수로 숫자를 문자열로 변환하기
string_a = "{}".format(10)

#출력하기
print(string_a)
print(type(string_a))

10
<class 'str'>

In [ ]:
#format() 함수의 다양한 형태
format_a = "{}만원".format(5000)
format_b = "파이썬 열공하여 첫 연봉 {}만원 만들기".format(5000)
format_c = "{} {} {}".format(3000, 4000, 5000)
format_d = "{} {} {}".format(1, "문자열", "Ture")

#출력하기
print(format_a)
print(format_b)
print(format_c)
print(format_d)

5000만원
파이썬 열공하여 첫 연봉 5000만원 만들기
3000 4000 5000
1 문자열 Ture

### foramt()함수의 다양한 기능

- 정수 출력의 다양한 형태

In [ ]:
#정수를 특정 칸에 출력하기
#정수
output_a = "{:d}".format(52)

#특정 칸에 출력하기
output_b = "{:5d}".format(52)
output_c = "{:10d}".format(52)

#빈칸을 0으로 채우기
output_d = "{:05d}".format(52)
output_e = "{:05d}".format(-52)

print("#기본")
print(output_a)
print("#특정 칸에 출력하기")
print(output_b)
print(output_c)
print("#빈칸을 0으로 채우기")
print(output_d)
print(output_e)

#기본
52
#특정 칸에 출력하기
   52
        52
#빈칸을 0으로 채우기
00052
-0052

In [ ]:
#기호 붙여 출력하기
output_f = "{:+d}".format(52)
output_g = "{:+d}".format(-52)
output_h = "{: d}".format(52)
output_i = "{: d}".format(-52)

print("#기호와 함께 출력하기")
print(output_f)
print(output_g)
print(output_h)
print(output_i)

#기호와 함께 출력하기
+52
-52
 52
-52

In [ ]:
#조합하기
output_h = "{:+5d}".format(52)
output_i = "{:+5d}".format(-52)
output_j = "{:=+5d}".format(52)
output_k = "{:=+5d}".format(-52)
output_l = "{:+05d}".format(52)
output_m = "{:+05d}".format(-52)

print("#조합하기")
print(output_h)
print(output_i)
print(output_j)
print(output_k)
print(output_l)
print(output_m)

#조합하기
  +52
  -52
+  52
-  52
+0052
-0052

- 부동 소수점 출력의 다양한 형태

In [ ]:
#다양한 형태의 부동 소수점 출력하기
output_a = "{:f}".format(52.273)
output_b = "{:15f}".format(52.273)
output_c = "{:+15f}".format(52.273)
output_d = "{:+015f}".format(52.273)


print(output_a)
print(output_b)
print(output_c)
print(output_d)

52.273000
      52.273000
     +52.273000
+0000052.273000

In [ ]:
#소수점 아래 자릿수 지정하기
output_a = "{:15.3f}".format(52.273)
output_b = "{:15.2f}".format(52.273)
output_c = "{:15.1f}".format(52.273)

print(output_a)
print(output_b)
print(output_c)

         52.273
          52.27
           52.3

- 의미 없는 소수점 제거하기

In [ ]:
output_a = 52.0
output_b = "{:g}".format(output_a)
print(output_a)
print(output_b)

52.0
52

### 대소문자 바꾸기: upper()와 lower()

upper(): 문자열의 알파벳을 대문자로 만든다

lower(): 문자열의 알파벳을 소문자로 만든다

In [ ]:
a = "Hello Python Programming...!"
U = a.upper()
L = a.lower()
print(U)
print(L)

HELLO PYTHON PROGRAMMING...!
hello python programming...!

### 문자열의 양옆의 공백 제거하기: strip()

strip(): 문자열 양옆의 공백을 제거한다.

lstrip(): 문자열 왼쪽의 공백을 제거한다.

rstrip(): 문자열 오른쪽의 공백을 제거한다.

In [ ]:
input_a = """
        안녕하세요
문자열의 함수를 알아봅시다
"""
print(input_a)
print(input_a.strip())

        안녕하세요
문자열의 함수를 알아봅시다

안녕하세요
문자열의 함수를 알아봅시다

### 문자열의 구성 파악하기: isOO

isalnum(): 문자열이 알파벳 또는 숫자로만 구성되어 있는지 확인

isalpha(): 문자열이 알파벳으로만 구성되어 잇는지 확인

isidentifier(): 문자열이 식별자로 사용할 수 있는지 확인

isdecimal(): 문자열이 정수 형태인지 확인

sidigit(): 문자열이 숫자로 인식될 수 있는지 확인

isspace(): 문자열이 공백으로만 구성되어 있는지 확인

islower(): 문자열이 소문자로만 구성되어 있는지 확인

isupper(): 문자열이 대문자로만 구성되어 있는지 확인

Ture(맞다) 또는 False(아니다)라고 출력되는데 이를 불이라고 부른다.

In [ ]:
print("TrainA10".isalnum())
print("10".isdigit())

True
True

### 문자열 찾기: find()와 rfind()

find(): 왼쪽부터 찾아서 처음 등장하는 위치를 찾는다.

rfind(): 오른쪽부터 찾아서 처음 등장하는 위치를 찾는다.

In [ ]:
output_a = "안녕안녕하세요".find("안녕")             #안녕안녕하세요
print(output_a)                                      #0 1 2 3 4 5 6
output_b = "안녕안녕하세요".rfind("안녕")
print(output_b)

0
2

### 문자열과 in연산자

문자열 내부에 어떤 문자열이 있는지 확인하려면 in 연산자를 사용합니다. 

Ture(맞다) 또는 False(아니다)로 출력된다

In [ ]:
print("안녕" in "안녕하세요")
print("잘자" in "안녕하세요")

True
False

### 문자열 자르기: split()

split(): 문자열을 특정한 문자로 자를 때 사용

In [ ]:
#공백을 기준으로 자르기
a= "10 20 30 40 50".split(" ")
print(a)

['10', '20', '30', '40', '50']

실행 결과로 리스트가 나온다.

# **5.도전문제**ㅡ

### 1.구의 부피와 겉넓이

In [ ]:
pi = 3.14159265
r_a = input("구의 반지름을 입력해주세요:")
r = int(r_a)

print("구의 부피:", 4/3*pi*(r**3))
print("구의 겉넓이:", 4*pi*(r**2))

구의 반지름을 입력해주세요:5
구의 부피: 523.5987749999999
구의 겉넓이: 314.159265

### 2.피타고라스 정리

In [ ]:
a = float(input("밑변의 길이를 입력해주세요:"))
b = float(input("높이의 길이를 입력해주세요:"))

c = (a**2+b**2)**(1/2)

print("= 빗변의 길이는", c, "입니다.")

밑변의 길이를 입력해주세요:3.0
높이의 길이를 입력해주세요:4.0
= 빗변의 길이는 5.0 입니다.